{% extends "base.html.twig" %}

{% block title %}Mon espace{% endblock %}

{% block body %}

  <div class="container-fluid">

      {% if app.user.structureaccount.active == 1 and app.user.newaccount == 1 %}
      <p>Vous devez choisir un mot de passe personnel avant de pouvoir consulter votre espace.</p>
      <a href="{{ path('password_change') }}" class="btn btn-success">Changer le mot de passe</a>
      {% endif %}

      {% if app.user.structureaccount.active == 1 and app.user.newaccount == 0 %}
      <h1 class="text-center mb-5">Bienvenue sur votre espace</h1>
      <section class="d-flex flex-wrap justify-content-center my-5">
            <div class="card m-1 bg-success" style="width: 50rem;">
              <div class="card-body">
                <h2 class="card-title text-center fw-bold mb-4">{{ app.user.structureaccount.name }}</h2>
                  <div class="row">
                    <div class="col-4 fw-bold">FRANCHISÉ:</div>
                    <div class="col-8">{{ app.user.structureaccount.managedby }}</div>
                    <div class="col-4 fw-bold">MANAGER:</div>
                    <div class="col-8">{{ app.user.structureaccount.managerfirstname|capitalize }} {{ app.user.structureaccount.managerlastname|capitalize }}</div>
                    <div class="col-4 fw-bold">EMAIL:</div>
                    <div class="col-8">{{ app.user.structureaccount.manageremail }}</div>
                    <div class="col-4 fw-bold">ACTIF:</div>
                    <div class="col-8 text-light">{{ app.user.structureaccount.active ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row text-center mt-3">
                    <div class="col">
                      <a class="btn btn-warning" href="{{ path('password_change' )}}">Modification du mot de passe</a>
                    </div>
                  </div>
              </div>
            </div>            
      </section>

      {% for featuresLists in featuresList %}
      {% if featuresLists.structure == app.user.structureaccount.name %}
      <section class="d-flex flex-wrap justify-content-center my-5">
          <div class="card m-1 bg-info" style="width: 35rem;">   
            <div class="card-body">
              <h3 class="text-center fw-bold mb-4">OPTIONS SOUSCRITES</h3>
                <div class="row">
                  <div class="col-8 fw-bold">Ajout de nouveaux membres:</div>
                  <div class="col-4">{{ featuresLists.addnewmembers ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 fw-bold">Envoi de newsletters:</div>
                  <div class="col-4">{{ featuresLists.sendnewsletters ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 fw-bold">Gestion des plannings:</div>
                  <div class="col-4">{{ featuresLists.planningmanager ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 fw-bold">Vente de boissons:</div>
                  <div class="col-4">{{ featuresLists.selldrinks ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 fw-bold">Vente d'équipements:</div>
                  <div class="col-4">{{ featuresLists.sellequipment ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 fw-bold">Abonnement premiums:</div>
                  <div class="col-4">{{ featuresLists.premiumplans ? "Oui" : "Non" }}</div>
                </div>
            </div>
          </div>
      </section>
      {% endif %}
      {% endfor %}

      {% elseif app.user.structureaccount.active == 0 %}
      <h1 class="text-center">Ce compte est actuellement désactivé</h1>
        <p class="text-center">Si vous pensez qu'il s'agit d'une erreur, veuillez contacter notre service technique</p>
      {% endif %}

  </div>

{% endblock %}