{% extends "base.html.twig" %}

{% block body %}

      {% if app.request.get("_route") == "create_structure" %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-3 text-center">
            <h3>Créer une structure</h3>
          </div>
        </section>
      {% else %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-2 text-center">
            <h3>Modifier la structure {{ structure.name }}</h3>
          </div>
        </section>
      {% endif %}

      {{ form_start(structureForm) }}

        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.name) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.adress) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.city) }}
          </div>
        </section>

        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.manager_firstname) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.manager_lastname) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.manager_email) }}
          </div>
        </section>

        <section class="row m-0 justify-content-center">
          <div class="col-8 col-sm-4 col-xxl-2 text-center rounded"> 
            {{ form_row(structureForm.managed_by) }}
          </div>
        </section>

        <section class="row m-0 justify-content-center">
          <div class="col col-sm-6 col-lg-4 col-xxl-1 text-center rounded"> 
            {{ form_row(structureForm.active) }}
          </div>
        </section>

          <section class="row m-0 justify-content-center">
            <div class="col-3 col-sm-2 col-xl-1 text-center align-self-end"> 
              <a href="{{ path('structure_list') }}" class="btn btn-success">Annuler</a>
            </div>
        {% if app.request.get("_route") == "create_structure" %}
            <div class="col-sm-3 col-lg-3 col-xl-2 text-center"> 
              <input type="submit" value="Créer" class="btn btn-warning mt-3">
            </div>
          </section>
        {% else %}
            <div class="col-sm-3 col-lg-3 col-xl-2 text-center"> 
              <input type="submit" value="Modifier" class="btn btn-warning mt-3">
            </div>
          </section>
        {% endif %}

      {{ form_end(structureForm) }}


{% endblock %}