{% extends "base.html.twig" %}

{% block body %}

      {% if app.request.get("_route") == "create_structure" %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-3 text-center">
            <h3>Créer un structure</h3>
          </div>
        </section>
      {% else %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-2 text-center">
            <h3>Modifier la structure {{ structure.name }}</h3>
          </div>
        </section>
      {% endif %}

      {{ form_start(structureForm) }}

        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.name) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.adress) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(structureForm.manager_email) }}
          </div>

        <section class="row m-0 justify-content-center">
          <div class="col-8 col-sm-6 col-xxl-8 text-center rounded"> 
            {{ form_row(structureForm.managed_by) }}
          </div>
        </section>

        <section class="row m-0 justify-content-center">
          <div class="col col-sm-6 col-lg-4 col-xxl-3 text-center rounded"> 
            {{ form_row(structureForm.active) }}
          </div>
        </section>

        {% if app.request.get("_route") == "create_structure" %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-2 text-center"> 
            <input type="submit" value="créer" class="btn btn-success mt-3 mb-5">
          </div>
        </section>
        {% else %}
        <section class="row m-0 mb-5 justify-content-center">
          <div class="col-3 col-sm-2 col-xl-1 text-center align-self-end"> 
            <a href="/structure-list" class="btn btn-success">Annuler</a>
          </div>
          <div class="col-3 col-sm-2 col-xl-1 text-center"> 
            <input type="submit" value="Modifier" class="btn btn-warning mt-3">
          </div>
        </section>
        {% endif %}

      {{ form_end(structureForm) }}


{% endblock %}