{% extends "base.html.twig" %}

{% block title %}Informations de la structure{% endblock %}

{% block body %}


  <div class="container-fluid">

    <h1 class="text-center">Structure</h1>
      <section class="d-flex flex-wrap justify-content-center my-5">
            <div class="card m-1 bg-secondary" style="width: 40rem;">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold mb-4">{{ structure.name|capitalize }}</h5>
                  <div class="row">
                   <div class="col-4 card-text fw-bold">MANAGER:</div>
                    <div class="col-8 card-text">{{ structure.managerfirstname|capitalize }} {{ structure.managerlastname|capitalize }}</div>
                    <div class="col-4 card-text fw-bold">EMAIL:</div>
                    <div class="col-8 card-text">{{ structure.manageremail }}</div>
                    <div class="col-4 card-text fw-bold">ADRESSE:</div>
                    <div class="col-8 card-text">{{ structure.adress }}</div>
                    <div class="col-4 card-text fw-bold">VILLE:</div>
                    <div class="col-8 card-text">{{ structure.city }}</div>
                    <div class="col-4 card-text fw-bold">ACTIVE:</div>
                    <div class="col-8 card-text">{{ structure.active ? "Oui" : "Non" }}</div>
                  </div>
              </div>
              <div class="row justify-content-around mt-2">
                <a href="{{ path('update_structure', {'id': structure.id}) }}" class="col-3 btn btn-warning mb-2">Modifier</a>
                <button class="col-3 btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer</button>
                {% include "modal.html.twig" %}
              </div>
            </div>
      </section>

      <section class="d-flex flex-wrap justify-content-center my-5">
          <div class="card m-1 bg-info" style="width: 30rem;">
            <div class="card-body">
                {% for featuresLists in featuresList %}
                {% if featuresLists.structure == structure.name %}             
                <h5 class="text-center">Options activées:</h5>
                <div class="row">
                  <div class="col-8 card-text fw-bold">Ajout de nouveaux membres:</div>
                  <div class="col-4 card-text">{{ featuresLists.addnewmembers ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 card-text fw-bold">Envoi de newsletters:</div>
                  <div class="col-4 card-text">{{ featuresLists.sendnewsletters ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 card-text fw-bold">Gestion des plannings:</div>
                  <div class="col-4 card-text">{{ featuresLists.planningmanager ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 card-text fw-bold">Vente de boissons:</div>
                  <div class="col-4 card-text">{{ featuresLists.selldrinks ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 card-text fw-bold">Vente d'équipements:</div>
                  <div class="col-4 card-text">{{ featuresLists.sellequipment ? "Oui" : "Non" }}</div>
                </div>
                <div class="row">
                  <div class="col-8 card-text fw-bold">Abonnement premiums:</div>
                  <div class="col-4 card-text">{{ featuresLists.premiumplans ? "Oui" : "Non" }}</div>
                </div>
                {% endif %}
                {% endfor %}
             </div>
          </div>
      </section>
      

      <div class="row justify-content-center">
        <a href="{{ path('structure_list', {'id': structure.id}) }}" class="col-2 col-md-1 btn btn-success mb-5">Retour</a>
      </div>

  </div>
{% endblock %}