{% extends "base.html.twig" %}

{% block body %}

  <div class="text-danger text-center">
  {% for flashMessage in app.session.flashbag.get('error') %}
      {{ flashMessage }}
  {% endfor %}
  </div>

  <div class="container-fluid">


    <h1 class="text-center mb-5">Liste des Structures</h1>

      <section class="row justify-content-center">
        <div class="col-2 form-check form-switch">
          <input id="toggleActiveStructures" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Structures Actives</label>
        </div>
        <div class="col-2 form-check form-switch">
          <input id="toggleInactiveStructures" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Structures Inactives</label>
        </div>
      </secton>

      <section class="d-flex flex-wrap justify-content-center my-5">
        {% for structure in structures %}
            <div {% if structure.active == 1 %} class="active card m-1 bg-secondary" {% endif %} class="inactive card m-1 bg-danger" style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title text-center fw-bold mb-4">{{ structure.name|capitalize }}</h5>
                  <div class="row">
                    <div class="col-4 card-text fw-bold">MANAGER:</div>
                    <div class="col-8 card-text">{{ structure.managerfirstname|capitalize }} {{ structure.managerlastname|capitalize }}</div>
                    <div class="col-4 card-text fw-bold">EMAIL:</div>
                    <div class="col-8 card-text">{{ structure.manageremail }}</div>
                    <div class="col-4 card-text fw-bold">ADRESSE:</div>
                    <div class="col-8 card-text">{{ structure.adress }}</div>
                    <div class="col-4 card-text fw-bold">VILLE:</div>
                    <div class="col-8 card-text">{{ structure.city }}</div>
                    <div class="col-4 card-text fw-bold">ACTIVE:</div>
                    <div class="col-8 card-text">{{ structure.active ? "Oui" : "Non" }}</div>
                  </div>
              </div>

              <div class="row justify-content-around">
                <a href="/structure-details/{{ structure.id }}" class="col-3 btn btn-primary mb-2">Détails</a>
              </div>
            </div>
        {% endfor %}
      </section>

      <div class="row justify-content-center">
        <a href="/" class="col-2 col-md-1 btn btn-success mb-5">Retour</a>
      </div>

  </div>

  <script src="{{ asset('javascript/filtresStructure.js') }}"></script>

{% endblock %}