{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

  {{ form_start(passwordForm) }}

    <section class="row m-0 justify-content-center">
      <div class="col-sm-3 col-lg-3 col-xl-3 text-center">
        <h3>Modifier votre mot de passe</h3>
      </div>
    </section>

    <section class="row m-0 justify-content-center">
      <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
        {{ form_row(passwordForm.new_password) }}
      </div>
      {% if app.user.newaccount == 1 %}
      <div class="col-12 text-center text-danger">Pour des raisons de sécurité, vous devez saisir un nouveau mot de passe avant de pouvoir continuer</div>
      {% endif %}
    </section>
  
    <section class="row m-0 justify-content-center">
      {% if app.user.newaccount == 0 %}
      <div class="col-3 col-sm-2 col-xl-2 text-center align-self-end"> 
        {% if is_granted('ROLE_FRANCHISEE') %}
        <a href="{{ path('franchisee_account') }}" class="btn btn-success">Annuler</a>
        {% elseif is_granted('ROLE_STRUCTURE') %}
        <a href="{{ path('structure_account') }}" class="btn btn-success">Annuler</a>
        {% endif %}
      </div>
      {% endif %}
      <div class="col-sm-3 col-lg-3 col-xl-2 text-center"> 
        <input type="submit" value="Valider" class="btn btn-warning mt-3">
      </div>      
    </section>

  {{ form_end(passwordForm) }}

{% endblock %}