{% extends "base.html.twig" %}

{% block title %}Mon compte franchisé{% endblock %}

{% block body %}


  <div class="container-fluid">

      {% if app.user.franchiseeaccount.active == 1 and app.user.newaccount == 1 %}
      <p>Vous devez choisir un mot de passe personnel avant de pouvoir consulter votre espace.</p>
      <a href="{{ path('password_change') }}" class="btn btn-success">Changer le mot de passe</a>
      {% endif %}

      {% if app.user.franchiseeaccount.active == 1 and app.user.newaccount == 0 %}
      <h1 class="text-center mb-5">Bienvenue sur votre espace</h1>

      <section class="d-flex flex-wrap justify-content-center my-5">
            <div class="card m-1 bg-success" style="width: 35rem;">
              <div class="card-body">
                <h2 class="card-title text-center fw-bold mb-4">{{ app.user.franchiseeaccount.name }}</h2>
                  <div class="row">
                    <div class="col-4 fw-bold">DIRECTEUR:</div>
                    <div class="col-8">{{ app.user.franchiseeaccount.directorfirstname|capitalize }} {{ app.user.franchiseeaccount.directorlastname|capitalize }}</div>
                    <div class="col-4 fw-bold">EMAIL:</div>
                    <div class="col-8">{{ app.user.franchiseeaccount.email }}</div>
                    <div class="col-4 fw-bold">ACTIF:</div>
                    <div class="col-8 text-light">{{ app.user.franchiseeaccount.active ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row text-center mt-3">
                    <div class="col">
                      <a class="btn btn-warning" href="{{ path('password_change' )}}">Modification du mot de passe</a>
                    </div>
                  </div>
              </div>
            </div>
      </section>

        <section class="d-flex flex-wrap justify-content-center my-5">
        {% for structure in structures %}
        {% if structure.managedby == app.user.franchiseeaccount.name %}
          <div class="card m-1 bg-secondary" style="width: 33rem;">   
            <div class="card-body">
              <h3 class="card-title text-center fw-bold mb-4">{{ structure.name|capitalize }}</h3>
                <div class="row">
                  <div class="col-4 col-md-6 card-text fw-bold">MANAGER:</div>
                  <div class="col-8 col-md-6 card-text">{{ structure.managerfirstname|capitalize }} {{ structure.managerlastname|capitalize }}</div>
                  <div class="col-4 col-md-6 card-text fw-bold">EMAIL:</div>
                  <div class="col-8 col-md-6 card-text">{{ structure.manageremail }}</div>
                  <div class="col-4 col-md-6 card-text fw-bold">ADRESSE:</div>
                  <div class="col-8 col-md-6 card-text">{{ structure.adress }}</div>
                  <div class="col-4 col-md-6 card-text fw-bold">VILLE:</div>
                  <div class="col-8 col-md-6 card-text">{{ structure.city }}</div>
                  <div class="col-4 col-md-6 card-text fw-bold">ACTIVE:</div>
                  <div class="col-8 col-md-6 card-text">{{ structure.active ? "Oui" : "Non" }}</div>
                </div>

                  <h3 class="text-center fw-bold my-4">Options souscrites</h3>
                  {% for featuresLists in featuresList %}
                  {% if featuresLists.structure == structure.name %}
                    <div class="row">
                      <div class="col-8 col-md-6 fw-bold">Ajout de nouveaux membres:</div>
                      <div class="col-4 col-md-6">{{ structure.featuresList.addnewmembers ? "Oui" : "Non" }}</div>
                    </div>
                    <div class="row">
                      <div class="col-8 col-md-6 fw-bold">Envoi de newsletters:</div>
                      <div class="col-4 col-md-6">{{ featuresLists.sendnewsletters ? "Oui" : "Non" }}</div>
                    </div>
                    <div class="row">
                      <div class="col-8 col-md-6 fw-bold">Gestion des plannings:</div>
                      <div class="col-4 col-md-6">{{ featuresLists.planningmanager ? "Oui" : "Non" }}</div>
                    </div>
                    <div class="row">
                      <div class="col-8 col-md-6 fw-bold">Vente de boissons:</div>
                      <div class="col-4 col-md-6">{{ featuresLists.selldrinks ? "Oui" : "Non" }}</div>
                    </div>
                    <div class="row">
                      <div class="col-8 col-md-6 fw-bold">Vente d'équipements:</div>
                      <div class="col-4 col-md-6">{{ featuresLists.sellequipment ? "Oui" : "Non" }}</div>
                    </div>
                    <div class="row">
                      <div class="col-8 col-md-6 fw-bold">Abonnement premiums:</div>
                      <div class="col-4 col-md-6">{{ featuresLists.premiumplans ? "Oui" : "Non" }}</div>
                    </div>
                  {% endif %}
                  {% endfor %}

            </div>
          </div>
        {% endif %}
        {% endfor %}
      </section>
      
  </div>
      
  {% elseif app.user.franchiseeaccount.active == 0 %}
  <h1 class="text-center">Ce compte est actuellement désactivé</h1>
  <p class="text-center">Si vous pensez qu'il s'agit d'une erreur, veuillez contacter notre service technique</p>
  {% endif %}

{% endblock %}