{% extends "base.html.twig" %}

{% block title %}Créer un franchisé{% endblock %}

{% block body %}

<div class="container-fluid">

      {% if app.request.get("_route") == "create_franchisee" %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-3 text-center">
            <h3>Créer une franchisé</h3>
          </div>
        </section>
      {% else %}
        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-2 text-center">
            <h3>Modifier le franchisé {{ franchisee.name }}</h3>
          </div>
        </section>
      {% endif %}

      {{ form_start(franchiseeForm) }}
        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(franchiseeForm.name) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(franchiseeForm.email) }}
          </div>
        </section>
        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(franchiseeForm.director_firstname) }}
          </div>
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(franchiseeForm.director_lastname) }}
          </div>
        </section>
        <section class="row m-0 justify-content-center">
          <div class="col-4 col-md-2 col-xxl-1 text-center">
            {{ form_row(franchiseeForm.active) }}
          </div>
        </section>

        <section class="row mb-5 justify-content-center">
          <div class="col-3 col-sm-2 text-center align-self-end"> 
            <a href="{{ path('franchisee_list') }}" class="btn btn-success">Annuler</a>
          </div>
          <div class="col-3 col-sm-2 text-center">
            {% if app.request.get("_route") == "create_franchisee" %}
            <input type="submit" value="Créer" class="btn btn-warning mt-3">
             {% else %}
            <input type="submit" value="Modifier" class="btn btn-warning mt-3">
            {% endif %}
          </div>
        </section>

      {{ form_end(franchiseeForm) }}

</div>

{% endblock %}