{% extends "base.html.twig" %}

{% block title %}Informations du franchisé{% endblock %}

{% block body %}


  <div class="container-fluid">

    <h1 class="text-center">Franchisé</h1>
      <section class="d-flex flex-wrap justify-content-center my-5">
            <div class="card m-1 bg-success" style="width: 25rem;">
              <div class="card-body">
                <h2 class="card-title text-center fw-bold mb-4">{{ franchisee.name|capitalize }}</h2>
                  <div class="row">
                    <div class="col-4 card-text fw-bold">DIRECTEUR:</div>
                    <div class="col-8 card-text">{{ franchisee.directorfirstname|capitalize }} {{ franchisee.directorlastname|capitalize }}</div>
                    <div class="col-4 card-text fw-bold">EMAIL:</div>
                    <div class="col-8 card-text">{{ franchisee.email }}</div>
                    <div class="col-4 card-text fw-bold">ACTIF:</div>
                    <div class="col-8 card-text text-light">{{ franchisee.active ? "Oui" : "Non" }}</div>
                  </div>
              </div>
              <div class="row justify-content-around mt-2">
                <a href="{{ path('update_franchisee', {'id': franchisee.id}) }}" class="col-3 btn btn-warning mb-2">Modifier</a>
                <button class="col-3 btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer</button>
                {% include "modal.html.twig" %}
              </div>    
      </section>

    <h3 class="text-center">Structures du franchisé :</h3>
      <section class="d-flex flex-wrap justify-content-center my-5">
        {% for structure in structures %}
        {% if structure.managedby == franchisee.name %}
          <div class="card m-1 secondary" style="width: 25rem;">   
            <div class="card-body">
              <h4 class="card-title text-center fw-bold mb-4">{{ structure.name|capitalize }}</h4>
                <div class="row">
                  <div class="col-4 card-text fw-bold">MANAGER:</div>
                  <div class="col-8 card-text">{{ structure.managerfirstname|capitalize }} {{ structure.managerlastname|capitalize }}</div>
                  <div class="col-4 card-text fw-bold">EMAIL:</div>
                  <div class="col-8 card-text">{{ structure.manageremail }}</div>
                  <div class="col-4 card-text fw-bold">ADRESSE:</div>
                  <div class="col-8 card-text">{{ structure.adress }}</div>
                  <div class="col-4 card-text fw-bold">VILLE:</div>
                  <div class="col-8 card-text">{{ structure.city }}</div>
                  <div class="col-4 card-text fw-bold">ACTIVE:</div>
                  <div class="col-8 card-text">{{ structure.active ? "Oui" : "Non" }}</div>
                </div>
            </div>

            <div class="row justify-content-around">
                <a href="{{ path('structure_details', {'id': structure.id}) }}" class="col-3 btn btn-primary mb-2">Détails</a>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </section>

      <div class="row justify-content-center">
        <a href="{{ path('franchisee_list') }}" class="col-2 col-md-1 btn btn-success mb-5">Retour</a>
      </div>

  </div>
{% endblock %}