{% extends "base.html.twig" %}

{% block body %}

  <div class="text-danger text-center">
  {% for flashMessage in app.session.flashbag.get('error') %}
      {{ flashMessage }}
  {% endfor %}
  </div>

  <div class="container-fluid">

    <h1 class="text-center">Options souscrites</h1>
      <section class="d-flex flex-wrap justify-content-center my-5">
        {% for featuresList in featuresLists %}
            <div class="card m-1 bg-info" style="width: 25rem;">
              <div class="card-body">
                <h5 class="col-12 text-center card-text fw-bold mb-3">{{ featuresList.getstructure }}</h5>
                
                  <div class="row">
                    <div class="col-8 card-text fw-bold">Ajout de nouveaux membres:</div>
                    <div class="col-4 card-text">{{ featuresList.addnewmembers ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8 card-text fw-bold">Envoi de newsletters:</div>
                    <div class="col-4 card-text">{{ featuresList.sendnewsletters ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8 card-text fw-bold">Gestion des plannings:</div>
                    <div class="col-4 card-text">{{ featuresList.planningmanager ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8 card-text fw-bold">Vente de boissons:</div>
                    <div class="col-4 card-text">{{ featuresList.selldrinks ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8 card-text fw-bold">Vente d'équipements:</div>
                    <div class="col-4 card-text">{{ featuresList.sellequipment ? "Oui" : "Non" }}</div>
                  </div>
                  <div class="row">
                    <div class="col-8 card-text fw-bold">Abonnement premiums:</div>
                    <div class="col-4 card-text">{{ featuresList.premiumplans ? "Oui" : "Non" }}</div>
                  </div>

                  <div class="row justify-content-around mt-2">
                    <a href="/update-featuresList/{{ featuresList.id }}" class="col-3 btn btn-warning">Modifier</a>
                  </div>
              </div>
            </div>
        {% endfor %}
      </section>

      <div class="row justify-content-center">
        <a href="{{ path('structure_list') }}" class="col-2 col-md-1 btn btn-success mb-5">Retour aux structures</a>
      </div>

  </div>
{% endblock %}