<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Application de gestion des franchisés de l'enseigne de salles de sport FitnessCraft"/>
        <title>{% block title %}FitnessCraft{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('javascript/app.js') }}" defer></script>
            <script src="{{ asset('javascript/bootstrap.bundle.min.js') }}" defer></script>
        {% endblock %}
    </head>


    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-success" id="navbar">
        <div class="container-fluid">

      {% if is_granted('ROLE_ADMIN') %}
          <a class="navbar-brand fw-bold text-light" href="/">FitnessCraft</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Franchisés
                </a>
                <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-light" href="{{ path('franchisee_list') }}">Liste</a></li>
                  <li><a class="dropdown-item text-light" href="{{ path('create_franchisee') }}">Créer</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Structures
                </a>
                <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-light" href="{{ path('structure_list') }}">Liste</a></li>
                  <li><a class="dropdown-item text-light" href="{{ path('create_structure') }}">Créer</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Permissions
                </a>
                <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-light" href="{{ path('featuresList_list') }}">Liste</a></li>
                  <li><a class="dropdown-item text-light" href="{{ path('create_featuresList') }}">Créer</a></li>
                </ul>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Création de comptes
                </a>
                <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item text-light" href="{{ path('create_franchisee_user') }}">Franchisé</a></li>
                  <li><a class="dropdown-item text-light" href="{{ path('create_structure_user') }}">Structure</a></li>
                </ul>
      {% endif %}

              </li>
            </ul>
            {% if app.request.get("_route") == "franchisee_list" or app.request.get("_route") == "structure_list" or app.request.get("_route") == "featuresList_list" %}
            <form class="d-flex" method="POST">
              <input class="form-control me-2" type="search" placeholder="Rechercher" name="search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
            {% endif %}

            <div class="text-light">
              {% if app.user %}
                  <span>Bonjour, </span> <span class="fw-bold">{{ app.user.email }} </span>
                  <a href="{{ path('app_logout') }}" class="btn btn-danger ms-md-3">Se déconnecter</a>
              {% else %}
              <a href="/login" class="btn btn-success">Se connecter</a>
            </div>
              {% endif %}
              
          </div>
        </div>
      </nav>

      {# Bouton de retour en haut de page #}
      <div class="d-lg-none" id="toTheTop">
       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
         <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
       </svg>
      </div>

    {% block body %}{% endblock %}

    <footer class="text-center bg-success">
      <p>FitnessCraft © Tous droits réservés - 2022<p>
    </footer>

    </body>
</html>
