{% extends "base.html.twig" %}

{% block body %}

      {% if app.request.get("_route") == "create_franchisee_user" %}
        <section class="row m-0 justify-content-center">
          <div class="col text-center">
            <h3>Créer un compte "franchisé"</h3>
          </div>
        </section>
      {% else %}
        <section class="row m-0 justify-content-center">
          <div class="col text-center">
            <h3>Créer un compte "structure"</h3>
          </div>
        </section>
      {% endif %}

      {{ form_start(userForm) }}

        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-lg-3 col-xl-3 col-xxl-2 text-center">
            {{ form_row(userForm.email) }}
          </div>
        </section>

        <section class="row m-0 justify-content-center">
        {% if app.request.get("_route") == "create_franchisee_user" %}
          <div class="col-8 col-sm-4 col-xxl-2 text-center rounded"> 
            {{ form_row(userForm.franchisee_account) }}
          </div>
        </section>
        {% else %}
          <div class="col-8 col-sm-4 col-xxl-2 text-center rounded"> 
            {{ form_row(userForm.structure_account) }}
          </div>
        </section>
        {% endif %}

        <section class="row m-0 justify-content-center">
          <div class="mt-1 col-sm-4 col-xxl-4 text-center">
            {{ form_row(userForm.password) }}
          </div>
        </section>

        <section class="row m-0 justify-content-center">
          <div class="col-sm-3 col-lg-3 col-xl-2 text-center"> 
            <input type="submit" value="Créer" class="btn btn-warning mt-3">
          </div>
        </section>

      {{ form_row(userForm._token) }}
      {{ form_end(userForm, {'render_rest': false}) }}


{% endblock %}